# 载入套件

In [1]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_validate
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import KFold, cross_val_score
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV

from typing import Dict
from tqdm.auto import tqdm

from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn import metrics
from sklearn.cluster import DBSCAN

import numpy as np
import random
import pandas as pd
import ydata_profiling

import scienceplots
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib

import torch
import os

%matplotlib inline

pd.plotting.register_matplotlib_converters()
sns.set_style("whitegrid")
sns.set_palette("RdBu")
sns.set(
    rc={'text.usetex': True},
    font="serif",
    font_scale=1.2
)

In [2]:
df = pd.read_pickle('../Datasets/features_q2.pkl')

In [10]:
data = df[[str(i) for i in range(12, 22)]]
y_true_q1 = pd.DataFrame(data.sum(axis=1)/10).apply(lambda x: )
y_true_q2 = pd.DataFrame(data.sum(axis=1)/10)

            0
0         0.0
1       523.5
2       464.9
3        32.8
4         0.0
...       ...
47340     0.0
47341     0.0
47342     7.5
47343  1346.8
47344     0.0

[47345 rows x 1 columns]